{% extends 'base.html.twig' %}
{% block body %}
    <div class="container hauteurMin">
        <h1 class="my-5">Bonjour {{ app.user|title }}</h1>

        {% if is_granted('ROLE_ADMIN') %}

            <div class="row">

            {% if is_granted('ROLE_SUPER_ADMIN')%}

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Gestion équipe</h5>
                            <p class="card-text">Ajout - modification - suppression d'un compte équipe</p>
                            <a href="{{ path('app_security_index') }}" class="btn btn-outline-info">Gérer l'équipe</a>
                        </div>
                    </div>
                </div>
            {% endif %}

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Gestion des catégories</h5>
                            <p class="card-text">Ajout - modification - suppression de catégories</p>
                            <a href="{{ path('app_admin_categorie_index') }}" class="btn btn-outline-info">Gérer les catégories</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Gestion des spectacles</h5>
                            <p class="card-text">Ajout - modification - suppression d'un spectacle</p>
                            <a href="{{ path('app_admin_spectacles_index') }}" class="btn btn-outline-info">Gérer les spectacles</a>
                        </div>
                    </div>
                </div>

            </div>

        {% endif %}
    </div>

{% endblock %}