

.glider-prev1, .glider-next1,
 .glider-prev2, .glider-next2,
 .glider-prev3, .glider-next3,
 .glider-prev4, .glider-next4,
 .glider-prev5, .glider-next5,
 .glider-prev6, .glider-next6{
    user-select: none;
    position: absolute;
    outline: none;
    position: absolute;
    padding: 2px 2px 2px 3px;
    background: none;
    width: 51px;
    z-index: 2;
    font-size: 40px;
    text-decoration: none;
    left: -42px;
    border: 0;
    top: 40%;
    cursor: pointer;
    color: teal;
    opacity: 1;
    line-height: 1;
    transition: opacity .25s cubic-bezier(.17,.67,.83,.67),
    color .5s cubic-bezier(.17,.67,.83,.67);
    top: 0px;
 }

.glider-next1, .glider-next2,
.glider-next3, .glider-next4,
.glider-next5, .glider-next6{
    right: -45px;
    left: auto;
}













/****** style texte slide *******/



div.gradient-border{
    margin-left: 10px;
    margin-right: 10px;
}

.box-glider-a{
    text-decoration: none;
    color: gray;
}
.box-glider-a:hover{
    text-decoration: none;
    color: black !important;
}


.box-glider{
    position: relative;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: #666;
    opacity: 0.8;
}

.box-glider:hover{
    color: black !important;
    opacity: 1;
    transform: scale(0.95, 0.95);
    z-index: 999 !important;
    transition: all 1s ease-out;
}






.gradient-border h6{
    font-size: 0.8em;
}
.gradient-border p{
    font-size: 0.6em;
    letter-spacing: 0;
    line-height: normal;
}

.gradient-border img{
    border-radius: 10px;
}

.img-container{
    width: 208px;
    height: 130px;
}


.titre-bloc-spectacle{
    line-height: normal;

}





/* bouton flitre*/

.btn-flitre{
    width: 100px;
}

.filtre{
    width: 100%;

    border-radius: 10px;
    /*border: 1px solid rgb(22,162,184);*/
    padding: 15px;
    /*background-color: rgba(22,162,184,0.1);*/


}

.filtre input,
.filtre select
{
    background-color: white;
}

#blocSearch{

}

