/*general*/


*:focus {

    outline: none !important;

}

*::-moz-focus-inner {

    border: none !important;

}


.hauteurMin{
    min-height: 70vh !important;
}



header a{
    text-decoration :none;
    color: #39444B;
    transition: 0.2s;
}

header a:hover{
    color: gray;
}

.connexion{
    margin: 0 auto;
}


/*bouton en savoir plus*/
.ensavoirplus{
    border: 0.8px solid #39444B;
    border-radius: 8px;
    padding: 12px 22px;
    text-decoration: none;
    color: #39444B;
    transition: 0.5s;
}

.ensavoirplus:hover,
.ensavoirplus:focus{
    text-decoration: none;
    background-color: #39444B;
    color: white !important;
}





/* texte categorie*/

.text-categorie{
    position: absolute;

    z-index: 1;
    color: white !important;
    font-size: 1em;
    font-weight: 400 !important;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    margin: 35% 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*effet d'ombre sur photo*/

/*
article{
    transition: all 1s ease-in-out;
    position: relative;

}

article:hover{
    text-shadow: 2px 2px 8px #000000;
    box-shadow: 0px 0px 49px 32px rgba(0,0,0,0.52);
    transform:scale(1.15);
    position: relative;
    z-index: 999 !important;
    transition: all 1s ease-in-out;


}

*/



article{
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: relative;

}

article:hover{
    transform: scale(1.15, 1.15);
    z-index: 999 !important;

}

article::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0px 49px rgba(0, 0, 0, 0.52);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}
article:hover::after {
    opacity: 1;
}


/*footer bas*/


#footerBas{
    background-color: white;
    width: 100%;
    box-shadow: -1px -4px 14px 3px rgba(0,0,0,0.69);
}

.footerInfo p{
    font-size: 0.7em;
    margin-bottom: 0em;
    margin-left: 20px;
    text-align: center;
}




/* Page Services */

#pageservices {
    background: url("images/overlay.png"), url("images/audience_derviche_fond.jpg");
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, center center;

}
#pageservices2 {
    background: url("images/overlay.png"), url("images/derviche fond services.jpg");
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, center center;

}
#pageservices3 {
    background: url("images/overlay.png"), url("images/derviche fond services.jpg");
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, center center;

}
#pageservices4 {
    background: url("images/overlay.png"), url("images/audience_derviche_fond.jpg");
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, center center;

}


/* page faq*/

.titre-faq{
    font-size: 1.5em;
}


#accordion-list{
    width: 100%;
    margin: 0 auto;
}

#accordion-list i{
    font-style: normal !important;
}

#accordion-list p{
    font-size: 0.8em;
}

div.accordion-item{
    display: none;
}

a.question {
    /*background: #fafafe;*/
    padding: 11px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    border-bottom: 1px solid #e7e7e7;
    position:relative;
    text-decoration: none;
    color: #2a2a2e;
}
a.question i {
    position:absolute;
    right:3%;
    transition: 0.3s;
}
p.answer {
    padding: 15px;
    display: none;
    background: rgba(255, 255, 255, 0.7);

    margin-top:0;
    color: #455;
}


a.active{

}

a.active i{
    transform: rotate(90deg);
}

#blocTitreFaq {
    background: url("images/overlay.png"), url("images/derviche fond faq.jpg");
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, center center;

}

