{% extends 'base.html.twig' %}

{% block title %}Derviche Diffusion | Accueil{% endblock %}

{% block body %}

    <!-- INTRO -->
    <section id="intro" class="main style1 dark fullscreen">
        <div class="content">
            <header>
                <h2>Derviche Diffusion</h2>
            </header>
            <p>Une structure de diffusion<strong> accessible, transparente et mutualiste</strong> <br/>
                Comme les derviches tourneurs, tous les spectacles vivants ont besoin de tourner pour vivre et grandir !</p>
            <footer>
                <a href="#one" class="button style2 down">More</a>
            </footer>
        </div>
    </section>



    <!-- services -->
    <section id="services" class="main style2 right dark fullscreen">
        <div class="content box style2">
            <header>
                <h2>NOS SERVICES</h2>
            </header>
            <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
                Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis arcu,
                id varius justo euismod in. Curabitur egestas consectetur magna.</p>
        </div>
        <a href="#two" class="button style2 down anchored">Next</a>
    </section>




{% endblock %}

