{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <section class="dark fullscreen">
            <div class="content">

                <h3>Mentions légales</h3>

            </div>

        </section>

        <section>


                <h4>
                    <p>Mentions légales Derviche Diffusion</p>
                </h4>

                <h4>1. EDITEUR</h4>

                <p>
                    Raison sociale :
                </p>

                <h4>2. HEBERGEMENT</h4>
                <p>
                    Raison sociale :
                    Domiciliation :
                    RCS :
                </p>

                <h4>3. CONCEPTION</h4>
                <p>
                    Conception et Développement du site : SBcom

                    Adresse mail : contact@sbcom.fr

                    Adresse web : https://sbcom.fr

                    Crédits photos : Emilie Lalande, Jean-Charles Jousni, Steven Berg
                </p>
                <h4>4. DONNEES PERSONNELLES</h4>
                <p>
                    Conformément à la loi Informatique et Libertés du 6 Janvier 1978 modifiée par la Loi du 6 août 2004, vous disposez d’un droit d’accès, de rectification, de modification et de suppression des données personnelles que vous nous avez communiquées. Vous pouvez exercer ce droit à tout moment en nous contactant à l’adresse contact@1promptu.fr
                </p>
                <h4>5. COOKIES</h4>
                <p>
                    Association Compagnie (1)Promptu utilise des cookies et d’autres technologies (comme des balises Web) pour différentes raisons. Les cookies et les autres technologies nous permettent notamment de vous faciliter l’accès à nos services parce que nous nous souvenons de vous chaque fois que vous vous connectez, d’assurer et d’analyser nos prestations, de connaître plus précisément nos utilisateurs, de mieux comprendre leurs intérêts. Cette notification vise à vous informer de l’utilisation que nous faisons de telles technologies. Elle explique les types de technologie dont nous nous servons, leur utilité et les choix dont vous disposez concernant leur utilisation.
                </p>
                <h4>5.1. Que sont les cookies ?</h4>
                <p>
                    Les cookies sont de petits fichiers de données qui sont stockés sur votre appareil lorsque vous visitez et utilisez des sites Web et des services en ligne. Ils sont utilisés couramment pour faire fonctionner les sites Web ou pour en optimiser le fonctionnement, pour fournir des renseignements et pour personnaliser les prestations et la publicité. Les cookies ne sont pas les seules technologies exploitables à ces fins. Nous utilisons également d’autres types de technologie semblables. Consultez les détails ci-dessous pour en savoir plus et obtenir des exemples.
                </p>
                <h4>5.2. Pourquoi Association Compagnie (1)Promptu utilise t-il des cookies ?</h4>
                <p>
                    Association Compagnie (1)Promptu est susceptible d’utiliser différents types de cookies :

                    Cookies nécessaires : ces cookies sont essentiels au fonctionnement de notre site Web et de notre service en ligne. Par exemple, pour authentifier nos utilisateurs et les identifier lorsqu’ils sont connectés à notre site Web et à nos applications, afin de leur fournir notre service. Ces cookies nous permettent également d’appliquer nos Conditions d’utilisation, de prévenir la fraude et d’assurer la sécurité de notre service.

                    Cookies de performance et de fonctionnalité : ces cookies ne sont pas essentiels, mais ils nous aident à personnaliser votre expérience en ligne et à l’améliorer. Ils nous permettent, par exemple, de mémoriser vos préférences et ils vous évitent d’avoir à ressaisir des informations que vous nous avez déjà communiquées (notamment au cours de votre inscription). Nous utilisons également ce type de cookie pour collecter des données (comme les pages les plus populaires, les taux de conversion, les habitudes de visualisation ou le nombre de clics) sur la manière dont les internautes utilisent le service, afin d’améliorer et de personnaliser notre site Web et nos prestations, et de réaliser des études de marché. La suppression de ces types de cookies limite les fonctionnalités de notre service.

                    Cookies publicitaires : ces cookies exploitent des informations concernant votre visite sur ce site et sur d’autres sites Web, telles que les pages que vous consultez, l’utilisation que vous faites de notre service ou la manière dont vous réagissez aux publicités et aux emails. Ils permettent à notre régie publicitaire de proposer des publicités plus pertinentes, sur notre site Web ou ailleurs. Notamment en limitant l’affichage de certaines publicités auxquelles vous auriez déjà été exposées. Les publicités sont qualifiées de “publicités ciblées par centres d’intérêt”. De nombreux cookies publicitaires associés à notre service appartiennent à nos fournisseurs de services.
                </p>
                <h4>5.3. Comment puis-je exercer mon choix concernant l’utilisation des cookies et des autres méthodes de suivi en ligne ?</h4>
                <p>
                    Pour en savoir plus sur les cookies créés via notre site Web et sur les autres types de suivi en ligne (dont la collecte d’informations par des tiers sur vos activités en ligne au fil du temps et via des services en ligne ou des sites tiers pour optimiser les publicités ciblées par centres d’intérêt) et pour exercer votre choix les concernant, rendez-vous à la partie ‘liste des cookies utilisés’. Pour l’instant, nous ne gérons pas les signaux de type “Do not track” des navigateurs Web.
                </p>
                <h4>5.4. Comment Association Compagnie (1)Promptu utilise t-il les balises Web et les autres technologies ?</h4>
                <p>
                    Les cookies sont souvent associés à des balises Web (également appelées GIF invisibles ou pixelsespions). Comme un camion est susceptible d’utiliser des balises Web aux mêmes fins que les cookies, par exemple pour comprendre et améliorer l’utilisation de notre service, optimiser les performances du site, analyser le trafic des internautes et les actions effectuées sur notre site, ou encore comprendre les interactions avec nos campagnes marketing (notamment les emails et les publicités en ligne sur des sites tiers). Comme les balises Web sont généralement associées à des cookies, dans la plupart des cas, le fait de refuser les cookies amoindrit l’efficacité des balises Web.

                    Nous utilisons d’autres technologies semblables aux cookies, comme le stockage et les plugins pour navigateur Web (par exemple, HTML5, IndexedDB, WebSQL et Silverlight). À l’instar des cookies, certaines de ces technologies peuvent stocker de petites quantités de données sur votre appareil. Nous sommes susceptibles d’utiliser ces technologies, parmi d’autres, aux mêmes fins que les cookies : notamment pour appliquer nos conditions, pour prévenir la fraude et pour analyser l’utilisation de notre service. Vous pouvez exercer votre choix concernant l’utilisation de ces technologies de différentes manières. Par exemple, les navigateurs les plus connus permettent de purger leur stockage, généralement via les paramètres ou les préférences. Pour en savoir plus, veuillez consulter l’aide en ligne ou la section de support de votre navigateur. Vous pouvez également désactiver d’autres technologies comme le stockage Silverlight directement dans l’application.
                </p>
                <h4>5.5. Liste des cookies utilisés</h4>
                <p>
                    Les cookies essentiels

                    Nom : ID Session
                    But du cookie : Connexion au site. Le cookie est conservé le temps de la navigation de l’adhérent.
                    Statut d’accord : Aucune procédure de refus

                    Les cookies tiers

                    Nom : Twitter
                    But du cookie : Ciblage publicitaire, Analytique/Mesure, Personnalisation du contenu
                    Statut d’accord : https://support.twitter.com/articles/20171551vosparametresdeconfidentialiteconcern
                    antlespublicitespersonnalisees

                    Nom : Facebook Connect
                    But du cookie : Serveur publicitaire, Ciblage publicitaire, Analytique/Mesure, Personnalisation du contenu
                    Statut d’accord : https://www.facebook.com/help/cookies/

                    Nom : OVH
                    But du cookie : Analytique/Mesure, Optimisation
                    Statut d’accord : Aucune procédure de refus n’est disponible

                    Les cookies analytique

                    Nom : Google Analytics
                    But du cookie : Ciblage publicitaire, Analytique/Mesure, Optimisation
                    Statut d’accord : https://tools.google.com/dlpage/gaoptout?hl=fr

                    Les cookies publicitaire

                    Nom : SmartAdserver
                    But du cookie : Gestion des campagnes publicitaires, ciblage, limitation d’affichage
                    Statut d’accord : http://smartadserver.fr/privacy-policy
                </p>
                <h4>6. PROPRIETE INTELLECTUELLE</h4>
                <p>
                    Le site Association Compagnie (1)Promptu appartient et est exploité par l’Association Compagnie (1)Promptu. L’ensemble des textes et photos présents qui apparaissent sur le site, sont protégés par les lois en vigueur sur la propriété intellectuelle. A ce titre, ils ne peut être copié, reproduit, modifié, réédité, dénaturé, transmit ou distribué en aucune manière, sous quelque support que ce soit, de façon partielle ou intégrale, sans l’autorisation écrite et préalable de l’Association Compagnie (1)Promptu. Seule la copie à usage privé est autorisée pour votre usage personnel, privé et non-commercial, sur votre ordinateur personnel.

                    La mention suivante doit notamment apparaître sur toute copie autorisée de tout ou partie du contenu du Site: « COPYRIGHT Association Compagnie (1)Promptu TOUS DROITS RÉSERVÉS ». Toute utilisation autorisée des éléments composant ou figurant dans le site doit se faire sans dénaturation, modification ou altération de quelque manière que ce soit.
                </p>
                <h4>9. DISPOSITIONS JURIDICTIONNELLES</h4>
                <p>
                    Le Site et son contenu sont régis par le Droit Français, et tout litige éventuel s’y rapportant sera soumis à la compétence des tribunaux français.
                </p>



        </section>
    </div>

{% endblock %}

