{% extends 'base.html.twig' %}

{% block title %}Derviche Diffusion | FAQ{% endblock %}

{% block body %}
    <div id="blocTitreFaq" class="main style2 dark fullscreen">

        <div class="container hauteurMin">

                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h1 class="m-5 text-center titre-faq">Questions ? Réponses</h1>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div id="accordion-list"></div>
                    </div>
                </div>


        </div>
    </div>


{% endblock %}
